.text-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 315px;
}

.yellow {
    background-color: #DAFF01;
}

.botao-lilas {
    background-color: #9353FF;
}

.color-yellow {
    color: #DAFF01;
}